.progress {
    font-size: 15px;
    height: 40px;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    align-items: center;
    background-color: #ffffff;
}

.progress-bar {
    margin: 0;
    padding: 10px 5px;
    height: 40px;
    background-color: #e6ccff;
    color: #000000;
}